<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manchas - Perro en adopción</title>
    <link rel="stylesheet" href="../../css/estilo-animal-es.css">
</head>

<body>
    <header>
        <h1>ONG-Ayuda a tu Peludo</h1>
    </header>
    <main>
        <section class="ficha-animal">
            <h2>Manchas - Perro en adopción</h2>
            <a href="perros.html" class="volver">Inicio > Volver a Perros</a>
            <img src="../../fotos/descarga1.jpeg" alt="Foto de Manchas, un Perro en adopción" width="150px">
            <ul>
                <li>Nombre: Manchas</li>
                <li>Edad: 4 años</li>
                <li>Género: Macho</li>
                <li>Esterilizado: Sí</li>
                <li>Nro. Chip: 75863</li>
            </ul>
        </section> <!-- .ficha-animal -->
    </main>
    <footer>
        <p>&copy; Ayuda a un Peludo - Todos los derechos reservados</p>
    </footer>
</body>

</html>